aether-chatbot-workflow.json
{
    "name": "Aether Chatbot Workflow",
    "nodes": [
        {
            "parameters": {
                "httpMethod": "POST",
                "path": "aether-chat",
                "responseMode": "responseNode",
                "options": {}
            },
            "id": "webhook-trigger",
            "name": "Webhook",
            "type": "n8n-nodes-base.webhook",
            "typeVersion": 1,
            "position": [
                250,
                300
            ],
            "webhookId": "aether-chat-webhook"
        },
        {
            "parameters": {
                "content": "={{ $json.body.message }}",
                "options": {}
            },
            "id": "extract-message",
            "name": "Extract Message",
            "type": "n8n-nodes-base.set",
            "typeVersion": 3,
            "position": [
                450,
                300
            ]
        },
        {
            "parameters": {
                "jsCode": "// Build portfolio context from shares data\nconst shares = $input.item.json.body.shares || [];\nconst message = $input.item.json.body.message;\n\nlet portfolioContext = \"\";\nif (shares.length > 0) {\n  portfolioContext = shares.map(s => \n    `- ${s.quantity} shares of ${s.companyName} (${s.symbol}) in ${s.sector} sector. ` +\n    `Avg Buy: ₹${s.avgBuyPrice.toFixed(2)}, Current: ₹${s.currentPrice.toFixed(2)}, ` +\n    `Return: ${s.gainLossPercent.toFixed(2)}%`\n  ).join('\\n');\n} else {\n  portfolioContext = \"The user currently has no shares in this portfolio.\";\n}\n\nconst systemPrompt = `You are Aether, an advanced financial portfolio assistant.\nYour tone is professional, concise, and insightful.\nYou are analyzing the user's Share/Equity portfolio.\n\nCurrent Portfolio Context:\n${portfolioContext}\n\nRefuse to answer questions unrelated to finance, investing, or the user's portfolio.\nKeep answers short and metric-focused.\nIf the user asks about risk, analyze sector exposure and concentration.\nIf the user asks for advice, provide general financial principles but clarify you are an AI.`;\n\nreturn {\n  message,\n  systemPrompt,\n  fullPrompt: `${systemPrompt}\\n\\nUser Question: ${message}`\n};"
            },
            "id": "build-context",
            "name": "Build Context",
            "type": "n8n-nodes-base.code",
            "typeVersion": 2,
            "position": [
                650,
                300
            ]
        },
        {
            "parameters": {
                "method": "POST",
                "url": "https://generativelanguage.googleapis.com/v1beta/models/gemini-1.5-flash:generateContent",
                "authentication": "genericCredentialType",
                "genericAuthType": "queryAuth",
                "sendQuery": true,
                "queryParameters": {
                    "parameters": [
                        {
                            "name": "key",
                            "value": "={{ $env.GEMINI_API_KEY }}"
                        }
                    ]
                },
                "sendBody": true,
                "specifyBody": "json",
                "jsonBody": "={\n  \"contents\": [\n    {\n      \"parts\": [\n        {\n          \"text\": \"{{ $json.fullPrompt }}\"\n        }\n      ]\n    }\n  ]\n}",
                "options": {}
            },
            "id": "call-gemini",
            "name": "Call Gemini AI",
            "type": "n8n-nodes-base.httpRequest",
            "typeVersion": 4.1,
            "position": [
                850,
                300
            ]
        },
        {
            "parameters": {
                "jsCode": "// Extract the AI response from Gemini\nconst response = $input.item.json;\nconst reply = response.candidates?.[0]?.content?.parts?.[0]?.text || \"Sorry, I couldn't generate a response.\";\n\nreturn {\n  reply\n};"
            },
            "id": "extract-response",
            "name": "Extract Response",
            "type": "n8n-nodes-base.code",
            "typeVersion": 2,
            "position": [
                1050,
                300
            ]
        },
        {
            "parameters": {
                "respondWith": "json",
                "responseBody": "={{ { \"reply\": $json.reply } }}"
            },
            "id": "webhook-response",
            "name": "Respond to Webhook",
            "type": "n8n-nodes-base.respondToWebhook",
            "typeVersion": 1,
            "position": [
                1250,
                300
            ]
        }
    ],
    "connections": {
        "Webhook": {
            "main": [
                [
                    {
                        "node": "Extract Message",
                        "type": "main",
                        "index": 0
                    }
                ]
            ]
        },
        "Extract Message": {
            "main": [
                [
                    {
                        "node": "Build Context",
                        "type": "main",
                        "index": 0
                    }
                ]
            ]
        },
        "Build Context": {
            "main": [
                [
                    {
                        "node": "Call Gemini AI",
                        "type": "main",
                        "index": 0
                    }
                ]
            ]
        },
        "Call Gemini AI": {
            "main": [
                [
                    {
                        "node": "Extract Response",
                        "type": "main",
                        "index": 0
                    }
                ]
            ]
        },
        "Extract Response": {
            "main": [
                [
                    {
                        "node": "Respond to Webhook",
                        "type": "main",
                        "index": 0
                    }
                ]
            ]
        }
    },
    "pinData": {},
    "settings": {
        "executionOrder": "v1"
    },
    "staticData": null,
    "tags": [],
    "triggerCount": 0,
    "updatedAt": "2026-01-12T10:25:14.000Z",
    "versionId": "1"
}